* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

:root {
    /* Colors */
    --main: #000000;
    --primary: #aa0c1c;
    --secondary: #101010;
    --input: #242424;
    --header: #101010;
    --white: #ffffff;
    --gray: #333333;
    /* Metrics */
    --radius: 5px;
    --smooth: .4s;
    --medium: .3s;
    --fast: .2s;
    /* Querys */
    --content: 80%;
}

html, body, header, main, footer {
    scroll-behavior: smooth;
    background-color: var(--main);
}

ul, ol, li {
    list-style: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}

i {
    color: var(--white);
}

p {
    color: var(--gray);
    line-height: normal;
}

a {
    color: var(--white);
    text-decoration: none;
}

main, .container {
    width: var(--content);
    margin: 0 auto;
}

.title-section i {
    margin-right: 10px;
}

.title-section {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 30px 0px;
    font-size: 20px;
}

#home {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 75px;
}

[class*=anm-], .sub-menu, nav, .btn.lnk.sm:hover, .send-btn:hover {
    -webkit-animation-duration: .3s!important;
    animation-duration: .3s!important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@media screen and (max-width: 800px) {
    #home {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 468px) {
    .title-section {
        margin-left: 10px;
    }
    #home {
        width: 100%;
        margin: 0 auto;
        padding-top: 60px;
    }
}