/* Navbar */

.navbar {
    background-color: var(--header);
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.navbar div {
    height: 100%;
    transition: var(--smooth);
}

.nav-logo .alt-logo {
    display: none;
}

.nav-overlay {
    display: none;
    padding: 20px;
    flex-wrap: wrap;
    top: 60px;
    left: 0;
    background-color: #1f1f1f;
    position: absolute;
    width: 100%;
    height: auto;
    animation-fill-mode: both;
    animation: pulse;
    transition: var(--smooth);
}

.nav-overlay li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 15px 0px 15px;
}

.nav-overlay.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    max-width: 120px;
}

.nav-logo img {
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-link {
    display: inline-block;
    transition: var(--smooth);
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transform: width var(--smooth);
}

.nav-link:hover::after {
    width: 100%;
    transition: width var(--smooth);
}

.home::after {
    width: 0%;
    transition: var(--smooth);
}

.nav-link.active::after {
    width: 100%;
    transition: width var(--smooth);
}

.nav-list li i {
    margin-right: 5px;
    padding-bottom: 2px;
}

.doramas i, .doramas a {
    color: var(--primary);
}

.doramas {
    color: var(--primary);
}

.nav-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-form {
    position: relative;
}

.search-input {
    border: none;
    outline: none;
    background-color: var(--input);
    padding: 10px 20px 10px 40px;
    border-radius: var(--radius);
    color: #fff;
}

.search-btn {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    transition: var(--smooth);
    padding: 0 10px;
    color: #fff;
    background-color: transparent;
    border-radius: var(--radius);
    outline: none;
    border: none;
    cursor: pointer;
}

.search-btn:hover {
    background-color: var(--primary);
}

.nav-toggle {
    display: none;
}

.nav-toggle i {
    transition: var(--medium);
    cursor: pointer;
    font-size: 40px;
}

.nav-toggle i:hover {
    color: var(--primary);
}

@media screen and (max-width:968px) {
    .navbar {
        padding: 20px 40px;
    }
    .nav-list {
        justify-content: center;
    }
    .nav-list li i {
        display: none;
        margin: 0;
    }
}

@media screen and (max-width:700px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 10px;
    }
    .nav-list, .nav-search, .nav-logo .logo {
        display: none;
    }
    .nav-logo .alt-logo {
        display: block;
    }
    .nav-logo, .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}